.body{
    margin: 0px;
}

.carousel{
    width: 100%;
    /* overflow: scroll; */
    padding: 30px;
    position: relative;
}

.carousel_container{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
    margin-left: 19%;
}

.carousel-item{
    background-color: chartreuse;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
}

.carousel_container:hover .carousel-item{
    opacity: 1;
}

.carousel_container:hover .carousel-item:hover{
    transform: scale(1.5);
    opacity: 0.3;
}

.carousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carousel-item__details{
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    font-size: 10px;
    color: white;
    opacity: 1;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    bottom: 0;
}
.carousel-item__details:hover{
    opacity: 1;
}
.carousel-item__details__img{
    width: 20px;
    height: 20px;
}

.carousel-item__details--title{
    margin: 5px, 0px, 0px, 0px;
    color: white;
}
.carousel-item__details--subtitle{
    margin: 3px, 0px;
    color: white;
    font-size: 8px;
}

body{
    margin: 0;
}
header {
    background-color: #21C08B;
    width: 100%;
    height: 80px;
}
header img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}




body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    background-color: #ffffff;
}

.header {
    background-color: #000000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 60px;
    margin-top: 10px;
    margin-left: 30px;
}

.header__menu {
    margin-right: 30px;
}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}

.header__menu:hover ul,
ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover{
    text-decoration: underline;
}

.header__menu--profile {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.header__menu--profile img{
    align-items: right;
    margin-right: 8px;
    width: 40px;
}

.header__menu--contact-us p{
    margin-right: -8px;
    display: flex;
    align-items: center;
}

.header__menu--profile p{
    margin:0px;
    color: white;
}

.footer{
        background-color: #000000;
        color: white !important;
        text-decoration: none !important;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.footer a{
    color: white !important;
        text-decoration: none !important;
}

.footerConsultancies{
    background-color: #000000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    height:50px;
    z-index:0;
}

.mainConsultancies{
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    height: 100px;
}

.main{
    margin-left: 20%;
    height: 100px;
}

.main__tittle{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.input{
    
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px; 
    color: rgb(0, 0, 0);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    padding: 0px 20px;
    width: 70%;
    outline: none;
}
::placeholder{
    color: rgb(0, 0, 0);
}

.login__container--imgs{
    width: 20px;
}

.login{
    background: linear-gradient(#ffffff, #ffffff);
    display: flex;
    align-items: center; /* Alinear de manear vertical */
    justify-content: center; /* Alinear de manear horizontal */
    flex-direction: column; /* Se alinea de arriba a abajo*/
    padding: 0px, 30px;
    min-height: calc(100vh - 200px); 
}

.login__container{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40px;
    color: rgb(0, 0, 0);
    padding: 60px 68px 40px;
    min-height: 500px;
    width: 300px;
}

.login__container--form{
    display: flex;
    flex-direction: column;
}

.login__container--form label{
    font-size: 14px;
}

.login__container--remember-me{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a{
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember-me a:hover{
    color: rgb(133, 131, 131);
    font-size: 14px;
    text-decoration: underline;
}
.login__container--social-media div{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container-register{
    font-size: 14px;

}

.login__container--register a {
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
}

.login__container--register a:hover {
    text-decoration: underline;
}

.input2{
    width: 85%;
    background-color: transparent;
    border-radius: 0px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}
::placeholder{
    color: rgb(0, 0, 0);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

.button{
    background-color: rgb(3, 3, 3);
    border:none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    height: 50px;
    letter-spacing: 1px;
}

.login__container h2{
    color: black;
}

